.bg
{
    background-image: url("https://lh3.googleusercontent.com/6kZn9fNHG9Wl-DAHT4kXbGgpclbZ0SIbGnsnxJ8OR77g9DU9H7O3S0c5HxN0AiYESLQRgi0DLoY1DqzJd-p0Hs8-pQ6cUDY6t6ISV4l24yKBAQg2iEVb5CaEcd5qiTDrg_oyjdv5FQ=w2400");
    width: 100%;
    height: 600px;   
}